/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Utils */
.c4p-center {
    text-align: center;
}

.c4p-author-image {
    height: 10em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 2em;
    /*margin: 2em 1.5em;*/
}

.c4p-full-card {
    max-width: none;
}

.c4p-left {
    float: left;
}

.c4p-right {
    float: right;
}

.c4p-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Notices */

.updated, .error {
    margin: 15px 0 20px !important;
}

.c4p-update-nag {
    padding: 0px 15px;
    width: 96%;
    margin: 15px 15px 0 2px;
}

/* Stats Section */

#c4p_stats_table th {
    font-weight: bold;
}

#c4p_stats_table th.no {
    width: 5% !important;
}

#c4p_stats_table th.ip {
    width: 10% !important;
}

/*#c4p_stats_table th.path {
	width: 25% !important;
}
#c4p_stats_table th.referer {
	width: 20% !important;
}
#c4p_stats_table th.time {
	width: 15% !important;
}
#c4p_stats_table th.user-agent {
	width: 10% !important;
}*/

#c4p_stats_table td span.user-agent {
    text-decoration: underline;
    font-weight: bold;
}

.clear-logs-description {
	display: none;
}

/* End Stats */
